$color-primary: #df005d;
$color-primary-light: #ff006a;
$color-primary-dark: #b8004d;

$color-black: #0e1113;
$color-black-light: #161b1f;

$color-grey: #524f69;
$color-grey-light: #adb5bd;

$color-white: #ffffff;
$color-white-dark: #f0f0f0;
$color-white-active: #c5c5ce;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
