@import "../../styles/variables.scss";

.circle-button {
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      .circle-button__circle--top {
        stroke-dashoffset: 0;
        transition: all 0.72s $ease;
      }

      .circle-button__arrow {
        stroke: rgba($color-white, 1);
        animation: indicateArrow 2s $ease infinite;
      }

      .circle-button__text {
        color: rgba($color-white, 1);
      }
    }
  }

  &__circle-wrapper {
    position: relative;
    width: 14rem;
    height: 14rem;
  }

  &__circle {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    stroke-width: 2px;
    left: 0;
    top: 0;
    fill: none;

    &--bottom {
      stroke: rgba($color-white, 0.72);
    }

    &--top {
      stroke: rgba($color-white, 1);
      stroke-width: 3px;
      stroke-dashoffset: 970;
      stroke-dasharray: 970;
      transform: rotate(-90deg);
      transition: all 0.24s $ease;
    }
  }

  &__arrow {
    position: absolute;
    width: 4.2rem;
    stroke: rgba($color-white, 0.72);
    stroke-width: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.24s $ease;
    fill: none;
  }

  &__text {
    color: rgba($color-white, 0.72);
    margin-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.24rem;
    font-weight: 400;
    transition: color 0.24s $ease;
    text-align: center;
  }
}

@keyframes indicateArrow {
  0% {
    left: 50%;
  }

  30% {
    left: 55%;
  }

  60% {
    left: 50%;
  }

  100% {
    left: 50%;
  }
}
