@import "../../styles/variables.scss";

.contact-cta {
  height: 35rem;
  width: 100vw;
  position: relative;

  &__img-wrapper {
    height: 35rem;
    width: 100vw;
  }

  &__img-placeholder {
    &__img-placeholder {
      opacity: 0 !important;
    }
  }

  &__img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__span {
    color: $color-white;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
