@import "../../../../styles/variables.scss";

.news-categories {
  background-color: $color-white-dark;
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem;
  margin-bottom: 1rem;

  &__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: $color-grey;
    font-weight: 400;
    letter-spacing: 0.11rem;
  }

  &__ul {
    list-style: none;
    display: flex;
  }

  &__li {
    margin-right: 7rem;
    letter-spacing: 0.11rem;

    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}
