@import "../../../../styles/variables.scss";

.news-categories {
  // background-color: $color-white-dark;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  margin-bottom: 1rem;

  &__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: $color-grey;
    font-weight: 500;
    letter-spacing: 0.11rem;
  }

  &__ul {
    list-style: none;
    display: flex;
  }

  &__li {
    position: relative;
    margin-right: 5rem;
    letter-spacing: 0.11rem;
    font-size: 1.5rem;
    text-transform: uppercase;

    &::after {
      content: "/";
      position: absolute;
      right: -2.5rem;
      transform: translateX(50%);
      color: $color-grey;
    }

    &:nth-last-of-type(1) {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}
