@import "../../styles/variables.scss";

.news-card {
  display: block;
  width: 100%;
  height: 36rem;
  background-color: $color-white;
  overflow: hidden;

  &__img-wrapper {
    width: 100%;
    height: 22rem;
  }

  img {
    transition: all 0.24s $ease !important;
    transform: scale(1);
  }

  &:hover {
    img {
      transform: scale(1.05);
      transition: all 0.42s $ease !important;
    }
  }

  &__content-wrapper {
    padding: 2rem;
    position: relative;
    height: 14rem;
  }

  &__category {
    text-transform: uppercase;
    font-weight: 400;
    color: $color-grey;
    letter-spacing: 0.11rem;
  }

  &__title {
    font-weight: 400;
    font-size: 2rem;
    color: $color-black;
  }

  &__fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11rem;
    background: linear-gradient(
      to bottom,
      rgba($color-white, 0),
      rgba($color-white, 1)
    );
  }
}
